.form-container {
    margin: 100px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.form-content-left {
    border-radius: 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

/* .form-content-right {
    background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
    );
    border-radius: 0 10px 10px 0;
    position: relative;
} */

body {
    background: radial-gradient(at 50% 0%,
    #c370e8 0%,
    #642cc7 22.45%,
    #0e094f 68.75%,
    #111138 97.92%
    );
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form h1 {
    font-size: 3rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
    /* background-color: tomato; */
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 300px;
    border: none;
}

.form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }

.form-inputs p {
    color: red;
}

.form-input-btn {
    width: 70%;
    height: 40px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(248, 87, 253) 0%,
      rgb(131, 62, 255) 100%
    );
    transition: all 0.4s ease-out;
}

.form-img {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -40%);
    border-radius: 50%;
  }

.form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
}
  