.form-content-left {
    border-radius: 10px;
    width: 50%;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    padding: 20px;
    /* margin-top: 7px; */
}

.all {
    position: relative;
    width: 100%;
    height: 100%;

    background: radial-gradient(at 50% 0%,
    #c370e8 0%,
    #642cc7 35%,
    #0e094f 80%,
    #111138 100%
    );
    padding: 100px;
}
/* .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.form h1 {
    font-size: 3rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    border: none;
}

.form-input-btn {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(248, 87, 253) 0%,
      rgb(131, 62, 255) 100%
    );
    transition: all 0.4s ease-out;
}