.Wrapper {
    display: flex;
    align-items: center;
    height: 100px;
    background: #833EFF;
    padding: 0 20px;
}

.Content {
    position: relative;
    /* max-width: max-content; */
    width: 55%;
    height: 55px;
    background: #444444;
    margin: 0 auto;
    border-radius: 40px;
    color: #ffff;
}

.search-icons {
    font-size: 2.5rem;
 
}

.input {
    font-size: 30px;
    position: absolute;
    left: 13px;
    margin: 8px 0;
    padding: 0 0 0 60px;
    border: 0;
    width: 95%;
    background: transparent;
    height: 40px;
    color: white;
}